#menu {
  display: none;
}
.jump-menu {
  position: fixed;
  bottom: 0px;
  background: #FFF;
  padding: 3px;
}
.menu-background {
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
}
